*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: sans-serif;
}

// Popover CSS Start
[popover]{
    anchor-default: var(--anchor);
    position-fallback: --top-to-bottom;
    inset: unset;
    margin: 0px;
}
@position-fallback --top-to-bottom{
    @try{
        bottom: anchor(auto);
        right: anchor(auto);
    }
    @try{
        top: anchor(auto);
        left: anchor(auto);
    }
}
.popoverButton{
    anchor-name: var(--anchor-name);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.popoverSection{
    border: none;
}
// Popover CSS End